<a href="https://colab.research.google.com/github/Olegirak/PythoneHW10/blob/main/untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

| Задание 44 |
| --- |
| В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI'lst})
data.head() |

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  human
4  robot

In [ ]:
encoder=OneHotEncoder(handle_unknown='ignore')
encoder_df = pd.DataFrame(encoder.fit_transform(data[['whoAmI']]).toarray())
final_df = data.join(encoder_df)
print(final_df)

   whoAmI    0    1
0   human  1.0  0.0
1   robot  0.0  1.0
2   robot  0.0  1.0
3   human  1.0  0.0
4   robot  0.0  1.0
5   human  1.0  0.0
6   human  1.0  0.0
7   human  1.0  0.0
8   robot  0.0  1.0
9   robot  0.0  1.0
10  human  1.0  0.0
11  robot  0.0  1.0
12  robot  0.0  1.0
13  human  1.0  0.0
14  human  1.0  0.0
15  robot  0.0  1.0
16  human  1.0  0.0
17  human  1.0  0.0
18  robot  0.0  1.0
19  robot  0.0  1.0

In [ ]:
final_df.drop('whoAmI',axis=1,inplace=True)
print(final_df)

      0    1
0   1.0  0.0
1   0.0  1.0
2   0.0  1.0
3   1.0  0.0
4   0.0  1.0
5   1.0  0.0
6   1.0  0.0
7   1.0  0.0
8   0.0  1.0
9   0.0  1.0
10  1.0  0.0
11  0.0  1.0
12  0.0  1.0
13  1.0  0.0
14  1.0  0.0
15  0.0  1.0
16  1.0  0.0
17  1.0  0.0
18  0.0  1.0
19  0.0  1.0

In [ ]:
final_df.columns = ['human','robot']
print(final_df)

    human  robot
0     1.0    0.0
1     0.0    1.0
2     0.0    1.0
3     1.0    0.0
4     0.0    1.0
5     1.0    0.0
6     1.0    0.0
7     1.0    0.0
8     0.0    1.0
9     0.0    1.0
10    1.0    0.0
11    0.0    1.0
12    0.0    1.0
13    1.0    0.0
14    1.0    0.0
15    0.0    1.0
16    1.0    0.0
17    1.0    0.0
18    0.0    1.0
19    0.0    1.0

In [ ]:
import random
import pandas as pd
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  robot
1  human
2  human
3  human
4  robot

In [ ]:
pd.get_dummies(data, dtype=float)

    whoAmI_human  whoAmI_robot
0            0.0           1.0
1            1.0           0.0
2            1.0           0.0
3            1.0           0.0
4            0.0           1.0
5            0.0           1.0
6            1.0           0.0
7            1.0           0.0
8            1.0           0.0
9            0.0           1.0
10           0.0           1.0
11           0.0           1.0
12           1.0           0.0
13           0.0           1.0
14           1.0           0.0
15           0.0           1.0
16           1.0           0.0
17           1.0           0.0
18           0.0           1.0
19           0.0           1.0